html {
    height: 100%;
}

@font-face {
    font-family: myFont;
    src: url(sansation_light.woff);
}

body {
    background: linear-gradient(to bottom right, #ffccff 0%, #ffff99 100%);
}

/* .wrapper {
    padding: 0;
    margin: 0;
   
} */

.container {
    position: relative;
    align-items: center;
}

.main-image {
    display: flex;
    max-width: 50%;
    max-height: 100%; 
    position: relative;
    top: -10px;
    left: -10px;
}

.main-heading {
    color: rgb(211, 245, 171);
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
    font-size: 72px;
    font-style:italic;
    position: absolute;
    top: 100%;
    left: 2%;
    margin: -5% 0%; 
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    text-shadow: 0 0 30px #ff0000, 0 0 5px #0000FF;

}

/* Responsive design styles */

@media screen and (max-width:1500px) {
    .main-heading{
        font-size: 30px;
    }    
}